fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-classic
langchain-chroma
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
redis
python-dotenv
sqlparse
sentence-transformers
torch
gradio
